:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #14111c;

  --color-indra: #004254;
  --color-indra-yellow: #faba20;
  --color-indra-white: #ffffff;

}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Fredoka One', sans-serif;
}

